body {
  /*
      Google Fonts: https://fonts.google.com/specimen/Chakra+Petch?query=chak#standard-styles  
    */
  font-family: "Chakra Petch", sans-serif;
  /*
      End Google Fonts: https://fonts.google.com/specimen/Chakra+Petch?query=chak#standard-styles  
    */
  background-color: #810000;
  color: #eeebdd;
  letter-spacing: 0.05rem;
  margin: 20px;
}

a {
  color: #eeebdd;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

.input-label {
  background-color: #1b1717;
  color: #eeebdd;
}

.mars-explorer-page-title {
  width: 75%;
  margin: 20px auto;
  border: 2px solid #eeebdd;
  text-align: center;
}

.form-column {
  border: 1px solid #eeebdd;
}

.picture-column {
  border: 1px solid #eeebdd;
}

.rover-info-column {
  border: 1px solid #eeebdd;
}

.modal-header,
.modal-footer {
  background-color: #810000;
}

.modal-body {
  color: #1b1717;
}
